* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

body {
  background: #1a0b2e; /* roxo muito escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.container {
  text-align: center;
  width: 88%;
  max-width: 430px;
  padding: 25px 15px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 25px;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
}

.icon-top {
  width: 110px;
  margin-bottom: 22px;
  filter: drop-shadow(0 0 6px rgba(255,255,255,0.2));
}

h2 {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 600;
  color: #e9d5ff;
}

.options {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.card {
  background: linear-gradient(135deg, #9b5cf0, #6a1bb4);
  padding: 18px;
  border-radius: 22px;
  width: 48%;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 0 4px 12px rgba(155, 92, 240, 0.3);
  backdrop-filter: blur(4px);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 14px rgba(178, 131, 255, 0.45);
}

.card img {
  width: 62px;
  margin-bottom: 10px;
}

.card h3 {
  margin-bottom: 6px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.card p {
  font-size: 13px;
  color: #f4e8ff;
}
